In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
np.random.seed(1402)

In [2]:


prefix_url = "https://graphemy.ir/datasets"


def get_file(name):
    file_name = name if ".csv" in name else f"{name}.csv"
    return f"{prefix_url}/{file_name}"

In [3]:
%matplotlib inline

## 1. Draw Diagram of these columns in 1 × 2 subplots: 
- wheel-base
- average-mileage

In [4]:

data = pd.read_csv(get_file("Automobile_data.csv"))
data.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [5]:
## Code HERE...

## 2. Draw the best described diagram for this:
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<table dir=rtl align = center>
<tr>
<th><font face="vazir" size=3>sadaf</th>
<th><font face="vazir" size=3>mostafa</th>
<th><font face="vazir" size=3>turaj</th>
<th><font face="vazir" size=3>milad</th>
<th><font face="vazir" size=3>parsa</th>
<th><font face="vazir" size=3>fatemeh</th>


</tr>

<tr>
<td><font face="vazir" size=3>۳۲۰۰</td>
<td><font face="vazir" size=3>۲۷۹۸</td>
<td><font face="vazir" size=3>۱۰۵۰</td>
<th><font face="vazir" size=3>۲۷۱۳</th>
<th><font face="vazir" size=3>۲۸۸۰</th>
<th><font face="vazir" size=3>۲۵۰۲</th>
</tr>
</table>
</p>

In [6]:
## Code HERE...

## 3. Generate This:

![output](output1.png)

In [7]:
import matplotlib.pyplot as plt

employees = [2883, 2944, 2774, 2343, 2239, 2063, 2329, 2652, 2500, 2502, 2684,
       2823, 2644, 2433, 2218, 2194, 2900, 2602, 2771, 2205, 2503, 2650,
       2639, 2996, 2296, 2231, 2026, 2658, 2187, 2869]

goats = [2958, 2425, 2360, 2039, 2909, 2206, 2359, 2198, 2619, 2649, 2076,
       2623, 2275, 2481, 2458, 2724, 2520, 2645, 2561, 2518, 2895, 2726,
       2500, 2578, 2542, 2585, 2931, 2564, 2420, 2930]

In [8]:
# Code Here...

## 4. Draw scatter diagram and describe correlation between these:
- carat vs price
- depth vs price

In [9]:
df = pd.read_csv(get_file('sampled_data'))
df.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.42  Very Good     F     VS1   59.8   57.0    921  4.85  4.89  2.91
1   0.76      Ideal     E     SI1   62.4   57.0   3087  5.83  5.87  3.65
2   1.21  Very Good     H     VS1   60.4   59.0   7196  6.88  6.97  4.18
3   0.91  Very Good     H     VS2   59.9   62.0   4201  6.26  6.33  3.77
4   0.40      Ideal     D     VS2   61.3   56.0    982  4.74  4.79  2.92

In [10]:
## Code HERE...